<title>Frequently Asked Questions about CORE-MATH</title>
<h1>Frequently Asked Questions about CORE-MATH</h1>

<ul>
<li><b>Q1: Why not provide a full library?</b>
    <br>
    The long-term goal of CORE-MATH is to ensure that correctly rounded
    functions are available to the end-user.
    We believe that collaborating with existing largely used libraries
    (instead of competing with them by creating yet another library) is the
    best way to reach that goal.
</li>
<p>
<li><b>Q2: Why not provide separate functions for different rounding modes
    (<tt>exp_rn</tt>, <tt>exp_rz</tt>, ...) like CRlibm?</b>
    <br>
    The philosophy of the IEEE 754 bindings in the C language is to use the
    <tt>fesetround</tt> function to control rounding. This is how it already
    works for the <tt>sqrt</tt> function, see <a href="sample.c">this sample
    file</a>.
</li>
<p>
<li><b>Q3: Shouldn't the mathematical functions be correctly rounded
    according to IEEE 754?</b>
    <br>
The IEEE 754 standard indeed <em>recommends</em> to have a correctly-rounded sine
function (for example). But it does not say that this function should be called <tt>sin</tt>.
In fact, IEEE 754 does not say anything about the names of the
functions it defines in the different programming languages. Those names are
defined by the respective language bindings. For the C language,
the language bindings are defined by the
C standard, more precisely in Annex F (IEC 60559 floating-point
arithmetic), where IEC 60559 is the direct translation of
IEEE 754. In Annex F, there is one table entitled <em>Operation binding</em>
which gives the correspondence between some IEEE 754 functions
and the corresponding names in the C
language. For this table, correct rounding is required. There is another
table later on, which contains the mathematical functions, for which it is
explicitly said <em>Correct rounding, which IEC specifies for its operations,
is not required for the C functions in the table</em> (cf page 444 of
<a href="http://www.open-std.org/jtc1/sc22/wg14/www/docs/n2596.pdf">N2596.pdf</a>).
This is the reason why current libraries are not correctly rounded,
see <a href="https://members.loria.fr/PZimmermann/papers/accuracy.pdf">Accuracy of Mathematical Functions in Single, Double, Double Extended, and Quadruple Precision</a>.
However, N2596.pdf has reserved names <tt>cr_exp, cr_sin, cr_pow, ...</tt>
for correctly rounded functions, see page 392.
</li>
</ul>
