<title>How to apply glibc patches</title>
<h1>How to apply glibc patches</h1>

The GNU libc patches replace the current GNU libc 
implementation (which is usually
not correctly-rounded) by a correctly-rounded one.
To use the GNU libc patches, for example, once you have downloaded
the cbrt-binary32 patch (named <tt>cbrtf-as.patch</tt>):
<pre>
$ git clone https://sourceware.org/git/glibc.git
$ cd glibc
$ patch -p1 -i cbrtf-as.patch
$ mkdir build
$ cd build
$ ../configure --prefix=/usr CC="gcc -march=native"
$ make -j4
$ make bench
</pre>
then you can look in the file <tt>benchtests/bench.out</tt> the entry
<tt>"cbrtf"</tt>. Alternatively once you have done <tt>make bench</tt> you
can do <tt>./testrun.sh benchtests/bench-cbrtf</tt>.

<p>

The license of the files modified by the patch is the common denominator
of the license of the CORE-MATH file
and the license of the corresponding GNU libc file.

