<title>The CORE-MATH project</title>
<h1>The CORE-MATH project</h1>

<center>
  <a href="faq.html">[FAQ]</a>
  <a href="https://gitlab.inria.fr/core-math/core-math/">[git]</a>
  <a href="https://gitlab.inria.fr/core-math/core-math/-/pipelines">[CI]</a>
  <a href="https://sympa.inria.fr/sympa/arc/core-math">[mailing list]</a>
  <a href="worst.html">[worst cases]</a>
  <a href="references.html">[references]</a>
</center>

<center>
  <h3>
    CORE-MATH Mission: provide on-the-shelf high performance
    open-source mathematical functions with <b>correct rounding</b>
    that can be integrated into current mathematical libraries (GNU
    libc, Intel Math Library, AMD Libm, Newlib, OpenLibm, Musl, Apple
    Libm, llvm-libc, Microsoft libm, CUDA libm, ROCm)
  </h3>
</center>

<p>
  Average number of clock cycles needed
  by CORE-MATH functions (revision 55c872b, f5d9e09 for log2l,
  f8f982e for expl)
  on an Intel Xeon Silver 4214, with GCC 13.2.0, compared to GNU libc 2.37, the
  Intel Math Library from icx 2023.2.0 and LLVM libc (revision
  d099dbb):
</p>

<select id="funSet">
  <option selected="selected" value="c99f">float C99</option>
  <option value="c99d">double C99</option>
  <option value="c99l">long double C99</option>
  <option value="c23f">float C23</option>
  <option value="c23d">double C23</option>
</select>

<select id="perfType">
  <option value="lat">Latency</option>
  <option selected="selected" value="thr">Reciprocal Throughput</option>
</select>

<input type="checkbox" id="lib0" name="lib" value="lib0" checked="checked">
<label for="lib0"> CORE-MATH </label>
<input type="checkbox" id="lib1" name="lib" value="lib1" checked="checked">
<label for="lib1"> GNU libm</label>
<input type="checkbox" id="lib2" name="lib" value="lib2" checked="checked">
<label for="lib2"> Intel icx </label>
<input type="checkbox" id="lib3" name="lib" value="lib3" checked="checked">
<label for="lib3"> LLVM </label>
<div class="chart-container" style="position: relative; height:25vmax; width:98vmax">
  <canvas id="perf"/>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="perfdraw.js"></script>

<p>

<h3>Usages of CORE-MATH:</h3>
<ul>
<li> branch <a href="https://gitlab.com/gtd-gmbh/libmcs/-/tree/core-math">core-math</a> of LibmCS, the <a href="https://essr.esa.int/project/libmcs-mathematical-library-for-critical-systems">Mathematical Library for Critical Systems</a> developed by the European Space Agency </li>
</ul>

<p>

Available CORE-MATH functions (under MIT license):
<center>
<table border="1">
<tbody>
<tr><td>function</td><td>binary32</td><td>binary64</td><td>binary80</td><td>binary128</td></tr>
<tr><td>acos</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/acos/acosf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/acos/acos.c">code</a></td>
    <td></td>
    <td></tr>
<tr><td>acosh</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/acosh/acoshf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/acosh/acosh.c">code</a></td>
    <td></td>
    <td></tr>
<tr><td>acospi</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/acospi/acospif.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/acospi/acospi.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>asin</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/asin/asinf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/asin/asin.c">code</a></td>
    <td></td>
    <td></tr>
<tr><td>asinh</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/asinh/asinhf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/asinh/asinh.c">code</a></td>
    <td></td>
    <td></tr>
<tr><td>asinpi</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/asinpi/asinpif.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/asinpi/asinpi.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>atan</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/atan/atanf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/atan/atan.c">code</a></td>
    <td></td>
    <td></tr>
<tr><td>atan2</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/atan2/atan2f.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/atan2/atan2.c">code</a></td>
    <td></td>
    <td></tr>
<tr><td>atan2pi</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/atan2pi/atan2pif.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/atan2pi/atan2pi.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>atanh</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/atanh/atanhf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/atanh/atanh.c">code</a></td>
    <td></td>
    <td></tr>
<tr><td>atanpi</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/atanpi/atanpif.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/atanpi/atanpi.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>cbrt</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/cbrt/cbrtf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/cbrt/cbrt.c">code</a> (<a href="cbrt64.pdf">proof</a>)</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary80/cbrt/cbrtl.c">code</a></td>
    <td></tr>
<tr><td>cos</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/cos/cosf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/cos/cos.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>cosh</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/cosh/coshf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/cosh/cosh.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>cospi</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/cospi/cospif.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/cospi/cospi.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>erf</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/erf/erff.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/erf/erf.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>erfc</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/erfc/erfcf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/erfc/erfc.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>exp</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/exp/expf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/exp/exp.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary80/exp/expl.c">code</a></td>
    <td></td></tr>
<tr><td>exp10</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/exp10/exp10f.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/exp10/exp10.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>exp10m1</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/exp10m1/exp10m1f.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/exp10m1/exp10m1.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>exp2</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/exp2/exp2f.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/exp2/exp2.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary80/exp2/exp2l.c">code</a></td>
    <td></td></tr>
<tr><td>exp2m1</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/exp2m1/exp2m1f.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/exp2m1/exp2m1.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>expm1</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/expm1/expm1f.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/expm1/expm1.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>hypot</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/hypot/hypotf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/hypot/hypot.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary80/hypot/hypotl.c">code</a></td>
    <td></td></tr>
<tr><td>lgamma</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/lgamma/lgammaf.c">code</a></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td>log</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/log/logf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/log/log.c">code</a> (with Gappa proof)</td>
    <td></td>
    <td></td></tr>
<tr><td>log10</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/log10/log10f.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/log10/log10.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>log10p1</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/log10p1/log10p1f.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/log10p1/log10p1.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>log1p</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/log1p/log1pf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/log1p/log1p.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>log2</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/log2/log2f.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/log2/log2.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary80/log2/log2l.c">code</a></td>
    <td></td></tr>
<tr><td>log2p1</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/log2p1/log2p1f.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/log2p1/log2p1.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>pow</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/pow/powf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/pow/pow.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary80/pow/powl.c">code</a></td>
    <td></td></tr>
<tr><td>rsqrt</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/rsqrt/rsqrtf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/rsqrt/rsqrt.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary80/rsqrt/rsqrtl.c">code</a></td>
    <td></td></tr>
<tr><td>sin</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/sin/sinf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/sin/sin.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>sincos</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/sincos/sincosf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/sincos/sincos.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>sinh</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/sinh/sinhf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/sinh/sinh.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>sinpi</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/sinpi/sinpif.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/sinpi/sinpi.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>tan</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/tan/tanf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/tan/tan.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>tanh</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/tanh/tanhf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/tanh/tanh.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>tanpi</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/tanpi/tanpif.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/tanpi/tanpi.c">code</a></td>
    <td></td>
    <td></td></tr>
<tr><td>tgamma</td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary32/tgamma/tgammaf.c">code</a></td>
    <td><a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/tgamma/tgamma.c">code</a></td>
    <td></td>
    <td></td></tr>
</tbody>
</table>
</center>

<p>

Caption:
<ul>
<li><b>code</b>: pointer to the main CORE-MATH code <tt>foo.c</tt>.
                 Note that it might require some header files present in the same
                 directory. For example the <tt>log</tt> function needs the
                 <tt>dint.h</tt> header file available from the <tt>[git]</tt>
		 link on top of this page, then follow <tt>src</tt>,
		 <tt>binary64</tt>, and </tt>log</tt>.
</li>
<li><b>llvm</b>: pointer to a correctly-rounded implementation in <a href="https://libc.llvm.org/math">llvm-libc</a></li>
<li><b>proof</b>: a paper proof of the correctness of the algorithm</li>
<li>(1) tested on hard-to-round cases |x| < 2<sup>-34</sup></li>
<li>(2) only for rounding to nearest</li>
</ul>

<p>

Notes:
<ul>
<li> correct rounding is claimed for all IEEE-754 rounding modes.
     For univariate binary32 functions it is checked by exhaustive search.
     For bivariate functions or
     larger formats it is checked only with respect to known
     hard-to-round cases. If you find an input which is not correctly
     rounded, please send it to <tt>paul dot zimmermann @ inria dot fr</tt>.
<li> these implementations only care about correct rounding for regular
     numbers, they do not necessarily correctly deal with NaN, infinities or
     zero, set the underflow and overflow exceptions, nor the inexact flag.
     </li>
<li> these implementations were tested on x86_64-linux, with and without the
     use of fma (fused multiply add).
</ul>

<p>

Other correctly-rounded implementations:

<ul>
<li> <a href="https://github.com/taschini/crlibm">CRlibm</a>
     this is a mirror of the original CRlibm project (which is no more
     available). CRlibm is no longer maintained,
     but contains very useful resources:
     provides binary64 exp, log, cos, sin, tan, cospi, sinpi, tanpi,
     atan, atanpi, cosh, sinh, log2, log10, asin, acos, asinpi, acospi,
     expm1, log1p, exp2, pow (only for rounding to nearest for pow). </li>
<li> <a href="https://github.com/rutgers-apl/The-RLIBM-Project">RLIBM</a>
     provides binary32 log, log2, log10, exp, exp2, exp10, sinh, cosh,
     sinpi, cospi, sin, cos, tan, atan, asin, acos for all rounding modes.
     </li>
<li> <a href="https://libc.llvm.org/">LLVM-libc</a> provides some
     correctly rounded functions (see links below):
     <a href="https://libc.llvm.org/math/#accuracy-of-higher-math-functions">claimed accuracy of LLVM functions</a> </li>
<li> <a href="https://github.com/JuliaIntervals/CRlibm.jl">JuliaIntervals</a>
     provides elementary functions with directed rounding wrapping CRlibm.</li>
</ul>

<p>

<center>
<table border="1">
<tbody>
<tr><td>function</td><td>binary32</td><td>binary64</td><td>binary80</td><td>binary128</td></tr>
<tr><td>acos</td>
    <td>rlibm <a href="https://reviews.llvm.org/D133550">llvm</a></td>
    <td>crlibm</td>
    <td></td>
    <td></td></tr>
<tr><td>acosh</td>
    <td><a href="https://reviews.llvm.org/D142781">llvm</a></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td>acospi</td>
    <td></td>
    <td>crlibm</td>
    <td></td>
    <td></td></tr>
<tr><td>asin</td>
    <td>rlibm <a href="https://reviews.llvm.org/D133400">llvm</a></td>
    <td>crlibm</td>
    <td></td>
    <td></td></tr>
<tr><td>asinh</td>
    <td><a href="https://reviews.llvm.org/D142681">llvm</a></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td>asinpi</td>
    <td></td>
    <td>crlibm</td>
    <td></td>
    <td></td></tr>
<tr><td>atan</td>
    <td>rlibm <a href="https://reviews.llvm.org/D132842">llvm</a></td>
    <td>crlibm</td>
    <td></td>
    <td></td></tr>
<tr><td>atan2</td>
    <td><a href="https://github.com/llvm/llvm-project/pull/86716">llvm</a></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td>atan2pi</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td>atanh</td>
    <td><a href="https://reviews.llvm.org/D132811">llvm</a></td>
    <td>crlibm</td>
    <td></td>
    <td></td></tr>
<tr><td>atanpi</td>
    <td></td>
    <td>crlibm</td>
    <td></td>
    <td></td></tr>
<tr><td>cbrt</td>
    <td><a href="https://github.com/llvm/llvm-project/pull/97936">llvm</a></td>
    <td><a href="https://github.com/llvm/llvm-project/pull/99262">llvm</a></td>
    <td></td>
    <td></td></tr>
<tr><td>cos</td>
    <td>rlibm <a href="https://reviews.llvm.org/D130644">llvm</a>,<a href="https://reviews.llvm.org/D131652">llvm</a></td>
    <td>crlibm,<a href="https://github.com/llvm/llvm-project/pull/96591">llvm</a></td>
    <td></td>
    <td></td></tr>
<tr><td>cosh</td>
    <td>rlibm <a href="https://reviews.llvm.org/D129275">llvm</a> <a href="https://reviews.llvm.org/D133913">llvm</a></td>
    <td>crlibm</td>
    <td></td>
    <td></td></tr>
<tr><td>cospi</td>
    <td>rlibm,<a href="https://github.com/llvm/llvm-project/pull/97464">llvm</a></td>
    <td>crlibm</td>
    <td></td>
    <td></td></tr>
<tr><td>erf</td>
    <td><a href="https://reviews.llvm.org/D153683">llvm</a></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td>erfc</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td>exp</td>
    <td>rlibm <a href="https://reviews.llvm.org/D122418">llvm</a>,<a href="https://reviews.llvm.org/D130498">llvm</a></td>
    <td>crlibm, <a href="https://reviews.llvm.org/D158551">llvm</a></td>
    <td></td>
    <td></td></tr>
<tr><td>exp10</td>
    <td>rlibm <a href="https://reviews.llvm.org/D134104">llvm</a></td>
    <td><a href="https://reviews.llvm.org/D159143">llvm</a></td>
    <td></td>
    <td></td></tr>
<tr><td>exp10m1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td>exp2</td>
    <td>rlibm <a href="https://reviews.llvm.org/D122346">llvm</a> <a href="https://reviews.llvm.org/D129005">llvm</a> <a href="https://reviews.llvm.org/D133870">llvm</a></td>
    <td>crlibm, <a href="https://reviews.llvm.org/D158812">llvm</a</td>
    <td></td>
    <td></td></tr>
<tr><td>exp2m1</td>
    <td><a href="https://github.com/llvm/llvm-project/pull/86996">llvm</a></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td>expm1</td>
    <td><a href="https://reviews.llvm.org/D122538">llvm</a>,<a href="https://reviews.llvm.org/D130502">llvm</a></td>
    <td>crlibm,<a href="https://github.com/llvm/llvm-project/pull/67048">llvm</a></td>
    <td></td>
    <td></td></tr>
<tr><td>hypot</td>
    <td><a href="https://reviews.llvm.org/D118157">llvm</a>,<a href="https://reviews.llvm.org/D133370">llvm</a></td>
    <td><a href="https://reviews.llvm.org/D117590">llvm</a></td>
    <td></td>
    <td></td></tr>
<tr><td>lgamma</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td>log</td>
    <td>rlibm <a href="https://reviews.llvm.org/D115408">llvm</a></td>
    <td>crlibm, <a href="https://reviews.llvm.org/D150131">llvm</a></td>
    <td></td>
    <td></td></tr>
<tr><td>log10</td>
    <td>rlibm <a href="https://reviews.llvm.org/D118093">llvm</a></td>
    <td>crlibm, <a href="https://reviews.llvm.org/D150014">llvm</a></td>
    <td></td>
    <td></td></tr>
<tr><td>log10p1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td>log1p</td>
    <td><a href="https://reviews.llvm.org/D118962">llvm</a></td>
    <td>crlibm, <a href="https://reviews.llvm.org/D151049">llvm</a></td>
    <td></td>
    <td></td></tr>
<tr><td>log2</td>
    <td>rlibm <a href="https://reviews.llvm.org/D115828">llvm</a></td>
    <td>crlibm, <a href="https://reviews.llvm.org/D150374">llvm</a></td>
    <td></td>
    <td></td></tr>
<tr><td>log2p1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td>pow</td>
    <td><a href="https://github.com/llvm/llvm-project/pull/71188">llvm</a>
    (see <a href="https://github.com/llvm/llvm-project/issues/97723">this</a>)
    </td>
    <td>crlibm (2)</td>
    <td></td>
    <td></td></tr>
<tr><td>rsqrt</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td>sin</td>
    <td>rlibm <a href="https://reviews.llvm.org/D123154">llvm</a>,<a href="https://reviews.llvm.org/D131652">llvm</a></td>
    <td>crlibm,<a href="https://github.com/llvm/llvm-project/pull/95736">llvm</a></td>
    <td></td>
    <td></td></tr>
<tr><td>sincos</td>
    <td><a href="https://reviews.llvm.org/D130901">llvm</a></td>
    <td><a href="https://github.com/llvm/llvm-project/pull/96719">llvm</a></td>
    <td></td>
    <td></td></tr>
<tr><td>sinh</td>
    <td>rlibm <a href="https://reviews.llvm.org/D129278">llvm</a> <a href="https://reviews.llvm.org/D133913">llvm</a></td>
    <td>crlibm</td>
    <td></td>
    <td></td></tr>
<tr><td>sinpi</td>
    <td>rlibm,<a href="https://github.com/llvm/llvm-project/pull/97149">llvm</a></td>
    <td>crlibm</td>
    <td></td>
    <td></td></tr>
<tr><td>sqrt</td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="https://github.com/llvm/llvm-project/pull/122578">llvm</a></td></tr>
<tr><td>tan</td>
    <td>rlibm <a href="https://reviews.llvm.org/D131715">llvm</a>,<a href="https://reviews.llvm.org/D134575">llvm</a></td>
    <td>crlibm,<a href="https://github.com/llvm/llvm-project/pull/97489">llvm</a></td>
    <td></td>
    <td></td></tr>
<tr><td>tanh</td>
    <td><a href="https://reviews.llvm.org/D130780">llvm</a> <a href="https://reviews.llvm.org/D134002">llvm</a></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td>tanpi</td>
    <td></td>
    <td>crlibm</td>
    <td></td>
    <td></td></tr>
<tr><td>tgamma</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>
</tbody>
</table>
</center>
