<title>CORE-MATH References</title>
<h1>CORE-MATH References</h1>

<h1>Bibliographic references</h2>
<ul>
<li> the current <a href="http://www.open-std.org/jtc1/sc22/wg14/www/docs/n3435.pdf">N3435</a> draft of the next C standard has reserved names
<tt>cr_exp, cr_log, cr_sin</tt> for correctly rounded functions 
(cf 7.34.9, item 4, page 488).
See also the latest C23 public draft
<a href="https://www.open-std.org/jtc1/sc22/wg14/www/docs/n3096.pdf">N3096</a>.
</li>
<li> <a href="https://members.loria.fr/PZimmermann/papers/accuracy.pdf">Accuracy of Mathematical Functions in Single, Double, Double
     Extended, and Quadruple Precision</a>, Vincenzo Innocente and Paul
     Zimmermann, 2021. </li>
<li> <a href="https://people.cs.rutgers.edu/~sn349/papers/rlibm32-pldi-2021-preprint.pdf">High Performance Correctly Rounded Math Libraries
     for 32-bit Floating Point Representations</a>,
     Jay P. Lim and Santosh Nagarakatte, PLDI'21, 2021.
     More references about the RLibm project are available
     <a href="https://people.cs.rutgers.edu/~sn349/rlibm/">here</a>. </li>
<li> <a href="https://people.cs.rutgers.edu/~sn349/papers/rlibmall-popl-2022.pdf">One Polynomial Approximation to Produce Correctly
     Rounded Results of an Elementary Function for Multiple
     Representations and Rounding Modes</a>,
     Jay P. Lim and Santosh Nagarakatte, POPL 2022. </li>
<li> <a href="https://arxiv.org/pdf/2111.12852.pdf">RLibm-Prog: Progressive
    Polynomial Approximations for Fast Correctly Rounded Math Libraries</a>,
    Mridul Aanjaneya, Jay P. Lim and Santosh Nagarakatte, Rutgers Department
    of Computer Science Technical Report DCS-TR-758, 2021. </li>
<li> <a href="https://essr.esa.int/project/mlfs-mathematical-library-for-flight-software">MLFS - Mathematical Library for Flight Software</a>, European Space Agency, 2018. </li>
<li> An efficient rounding boundary test for pow(x,y) in double precision, Christoph Lauter and Vincent Lef&egrave;vre, IEEE Transactions on Computers, vol. 58, nb. 2, pages 197-207,  2009. [<a href="https://hal.archives-ouvertes.fr/ensl-00169409">HAL version</a>] </li>
<li> Algorithms for Calculating Correctly Rounded Exponential Function in Double-Precision Arithmetic, Alexander Godunov, IEEE Transactions on Computers, vol. 69, no. 9, 2020, pages 1388-1400 (+ appendix of 10 pages) </li>
<li> <a href="https://hal.inria.fr/hal-01774364">A High Throughput Polynomial and Rational Function Approximations Evaluator</a>, Nicolas Brisebarre, George Constantinides, Miloš Ercegovac, Silviu-Ioan Filip, Matei Istoan, Jean-Michel Muller, 2018. </li>
<li> <a href="https://www.vinc17.net/research/testlibm/">Test of Mathematical Functions of the Standard C Library</a>, Vincent Lefèvre. </li>
<li> <a href="https://hal-ens-lyon.archives-ouvertes.fr/ensl-01529804">CR-LIBM: A library of correctly rounded elementary functions in double-precision</a>, Catherine Daramy-Loirat, David Defour Florent de Dinechin, Matthieu Gallet, Nicolas Gast, Christoph Lauter and Jean-Michel Muller, 2006. </li>
<li> <a href="https://hal.inria.fr/INRIA/hal-03728088">High-level algorithms for correctly-rounded reciprocal square roots</a>, Carlos F. Borges, Claude-Pierre Jeannerod, Jean-Michel Muller, Proceedings of the 29th IEEE Symposium on Computer Arithmetic (ARITH 2022), 2022. </li>
<li> IA-64 and Elementary Functions, Peter Markstein,
     Hewlett-Packard Professional Books, 2000 </li>
<li> <a href="https://ieeexplore.ieee.org/document/8742617">Tight Interval Inclusions with Compensated Algorithms</a>, Stef Graillat and Fabienne Jézéquel, IEEE Transactions in Computers, volume 69, issue 12, pages 1774-1783, 2020. </li>
<li> <a href="https://hal.inria.fr/hal-03798376">Note on FastTwoSum with Directed Roundings</a>, Paul Zimmermann, preprint, 3 pages, 2022 </li>
<li> <a href="https://hal.science/hal-01351529v3/document">Tight and rigorous error bounds for basic building blocks of double-word arithmetic</a>, Mioara Maria Joldes, Jean-Michel Muller, Valentina Popescu, ACM Transactions on Mathematical Software, Vol. 44, No. 2, 2017. </li>
<li> <a href="https://hal.science/hal-02972245v2">Formalization of double-word arithmetic, and comments on "Tight and rigorous error bounds for basic building blocks of double-word arithmetic"</a>, J.-M. Muller and Laurence Rideau, ACM Transactions on Mathematical Software, Vol. 48 No 1, DOI 10.1145/3484514, March 2022. </li>
<li> Should the Elementary Function Library Be Incorporated Into Computer Instruction Sets?, George Paul and M. Wayne Wilson, ACM Transactions on Mathematical Software, vol. 2, nb. 2, pages 132-142, 1976. </li>
<li> <a href="https://github.com/dreal-deps/mathlib">Non-official copy of MathLib's library</a> (MathLib was designed by IBM) </li>
<li> <a href="https://dl.acm.org/doi/10.1145/3054947">On the Robustness of the 2Sum and Fast2Sum Algorithms</a>, Sylvie Boldo, Stef Graillat, Jean-Michel Muller, ACM Transactions on Mathematical Software, vol. 44, no. 1 </li>
<li> <a href="https://hal.science/hal-01869009/document">Algorithms for triple-word arithmetic</a>, Nicolas Fabiano, Jean-Michel Muller and Joris Picot, IEEE Transactions on Computers, 2019, 68 (11), pages 1573-1583. </li>
<li> <a href="https://inria.hal.science/hal-04461089">Useful applications of correctly-rounded operators of the form ab + cd + e</a>, Tom Hubrecht, Claude-Pierre Jeannerod, Jean-Michel Muller, 2024</li>
<li> New scalar and vector elementary functions for the IBM System/370, Ramesh C. Agarwal, James W. Cooley, Fred G. Gustavson, James B. Shearer, Gordon Slishman, Bryant Tuckerman, IBM J. Res. Develop., volume 30, number 2, pages 126-144, 1986. </li>
</ul>

<h1>Articles citing CORE-MATH</h2>
<ul>
<li> <a href="https://hal.inria.fr/hal-03721525">The CORE-MATH Project</a>,
Alexei Sibidanov, Paul Zimmermann, Stéphane Glondu, Proceedings of the 29th IEEE Symposium on Computer Arithmetic (ARITH 2022), 2022. </li>
<li> Correctly rounded power function in double precision, talk given by Tom Hubrecht at <a href="https://fpbench.org/talks/fptalks22.html">FPTalks 2022</a>, 2022. </li>
<li> <a href="https://inria.hal.science/hal-04159652">Towards a correctly-rounded and fast power function in binary64 arithmetic</a>, Tom Hubrecht, Claude-Pierre Jeannerod, Paul Zimmermann, Laurence Rideau, Laurent Théry, extended version of an article published in the Proceedings of Arith 2023, with full details and of the fast path and a formal proof, 2024. </li>
<li> <a href="https://hal.science/hal-04474530">Correctly-rounded evaluation of a function: why, how, and at what cost?</a>, Nicolas Brisebarre, Guillaume Hanrot, Jean-Michel Muller, Paul Zimmermann, 2024</li>
<li> <a href="https://dl.acm.org/doi/10.1145/3632874">Implementation and Synthesis of Math Library Functions</a>, Ian Briggs, Yash Lad and Pavel Panchekha, Proceedings of the ACM on Programming Languages, Volume 8, Issue POPL, Article No 32, pages 942–969, 2024. </li>
<li> <a href="https://doi.org/10.1016/j.cam.2024.116003">Accurate complex Jacobi rotations</a>, by Vedran Novaković, Journal of Computational and Applied Mathematics, volume 450, 2024. </li>
<li> <a href="https://doi.org/10.1007/s11075-025-02035-7">Arithmetical enhancements of the Kogbetliantz
method for the SVD of order two</a>, by Vedran Novaković, Numerical Algorithms, 2025. This article uses the CORE-MATH hypot function.</li>
</ul>

<h2>Software references</h2>
<ul>
<li> <a href="https://github.com/JuliaMath/openlibm/issues/260"> Integrate CORE-MATH implementations into openlibm #260</a> </li>
</ul>
