<title>CORE-MATH worst cases</title>
<h1>CORE-MATH worst cases</h1>

The worst cases used by CORE-MATH are mostly computed with the 
<a href="https://gitlab.inria.fr/zimmerma/bacsel">BaCSeL software tool</a>.
They can be found along with the source code, in files <tt>xxx.wc</tt>,
where <tt>xxx</tt> is the name of the corresponding function.
For example the worst cases for the binary64 exponential function
can be found <a href="https://gitlab.inria.fr/core-math/core-math/-/blob/master/src/binary64/exp/exp.wc">here</a>.
<p>
Each file indicates in comment the number of identical bits of the worst cases
(they may differ from one function to another), and if some symmetries are used
to reduce the number of stored worst cases.
Trivial worst cases are not included, for example cos(x) for tiny x.
<p>
For binary64, all worst cases cover the full range of the function (worst cases
that would give an output beyond the underflow/overflow thresholds are not included),
with the following exceptions:
<ul>
<li> for <tt>cos(x)</tt>, worst cases are computed only for 0 < x < 2048
     (with at least 43 identical bits after the round bit); </li>
<li> for <tt>sin(x)</tt>, worst cases are computed only for 0 < x < 2048
     and for 2<sup>1023</sup> < x < 2<sup>1024</sup>
     (with at least 43 identical bits after the round bit); </li>
<li> for <tt>tan(x)</tt>, worst cases are computed only for 0 < x < 10.5*pi
     (with at least 43 identical bits after the round bit); </li>
<li> for <tt>pow(x,y)</tt>, worst cases are mainly computed for exponents y
     such that x<sup>y</sup> might be exact or midpoint; </li>
<li> for <tt>atan2(y,x)</tt>, only a restricted set of worst cases has been computed; </li>
<li> for <tt>hypot(x,y)</tt>, only a restricted set of worst cases has been computed; </li>
<li> for <tt>atan2pi(y,x)</tt>, only a restricted set of worst cases has been computed,
     with at least 75 identical bits after the round bit.</li>
</ul>
